/* 폰트 */
@font-face {
  font-family: "Ycomputer-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ycomputer-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 애니메이션 */
@keyframes move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px -1000px;
  }
}

/* 레이아웃 */
.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

body {
  background-color: rgb(9, 255, 0);
  background-image: url("../img/pikachu.png");
  background-size: 25%;
  animation: move 10s linear alternate infinite;
}

.main-wrapper .arti-level-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* 메인 화면 */
.tit-game {
  font-family: "Ycomputer-Regular";
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: -4px 0 red, 0 4px green, 4px 0 blue, 10px -4px purple;
  color: yellow;
  margin: 130px 0px;
}

.main-wrapper .arti-level-setting button {
  font-family: "Ycomputer-Regular";
  font-weight: bold;
  border: 5px outset white;
  background-color: lightgray;
  padding: 15px 50px;
}
.main-wrapper .arti-level-setting button:active {
  border: 5px inset white;
}

.main-wrapper .list-score-board-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

/* 카드 스타일 */
.list-card {
  width: 1305px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 100px;
}

.item-card {
  position: relative;
  outline: 4px solid #00479d;
  transform-style: preserve-3d;
  border-radius: 10px;
  background-color: #ffeea2;
  /* overflow: hidden; */
}

.item-card.active {
  transition: all 1s;
  transform: rotateY(180deg);
}

.div-back {
  background-image: url("../img/card-back.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 205px;
  backface-visibility: hidden;
}

.div-front {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-image: url("../img/pokemon.png");
  background-color: #ffeea2;
  width: 100px;
  height: 100px;
  display: block;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.div-hidden {
  visibility: hidden;
}
.modal {
  width: 500px;
  height: 700px;
  background-color: #c0ffee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}

/* footer */
footer {
  position: absolute;
  left: 50%;
  bottom: 0;
}

/*****************************************************************/

body.inGame {
  background: linear-gradient(90deg, rgb(252, 250, 104), rgb(71, 158, 61));
  background-image: none;
  background-size: 25%;
  animation: none;
}
