/* 폰트 */
@font-face {
  font-family: "Ycomputer-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ycomputer-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 애니메이션 */
@keyframes move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px -1000px;
  }
}
* {
  box-sizing: border-box;
}

/* 버튼 스타일 */
.btn-style {
  opacity: 0.9;
  font-family: "Ycomputer-Regular";
  font-weight: bold;
  border: 5px outset white;
  background-color: lightgray;
  padding: 15px 50px;
}

.btn-style:active {
  border: 5px inset white;
}

/* 레이아웃 */
.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

body {
  background-color: rgb(9, 255, 0);
  background-image: url("../img/pikachu.png");
  background-size: 25%;
  animation: move 10s linear alternate infinite;
  overflow: hidden;
}
.root {
  width: 100%;
  height: 100%;
}
.main-wrapper .arti-level-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* 메인 화면 */
.tit-game {
  font-family: "Ycomputer-Regular";
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: -4px 0 red, 0 4px green, 4px 0 blue, 10px -4px purple;
  color: yellow;
  margin: 120px 0px;
}

.main-wrapper marquee {
  width: 100%;
  position: absolute;
  bottom: 80px;
  display: flex;
  font-family: "Ycomputer-Regular";
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  font-size: 24px;
  white-space: nowrap;
}
marquee > strong {
  text-shadow: -1px 0px red, 0px 1px red, 1px 0px red, 0px -1px red;
  font-weight: bold;
}

/* 카드 스타일 */

.list-card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
  overflow: hidden auto;
  padding: 10px 20px;
}

.item-card {
  position: relative;
  outline: 4px solid #00479d;
  transform-style: preserve-3d;
  width: 100%;
  max-width: 150px;
  max-height: 205px;
  min-width: 100px;
  min-height: 136px;
  aspect-ratio: 193 / 264;
  border-radius: 10px;
  background-color: #ffeea2;
  transition: all 1s;
}

.item-card.active {
  transform: rotateY(180deg);
}

.div-back {
  background-image: url("../img/card-back.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}
/* .div-back {
  background-image: url("../img/card-back.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 205px;
  backface-visibility: hidden;
} */

.div-front {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  background-image: url("../img/pokemon.png");
  background-color: #ffeea2;
  width: 100px;
  height: 100px;
  display: block;
  transform: translate(-50%, -50%) rotateY(180deg);
  backface-visibility: hidden;
  transition: all 1s;
}

.div-hidden {
  visibility: hidden;
}

/* footer */
footer {
  position: absolute;
  left: 50%;
  bottom: 0;
}

/* 모달 */
.modal {
  font-family: "Ycomputer-Regular";
  width: 400px;
  height: 600px;
  background-color: rgb(255, 234, 0);
  border: 6px solid blue;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.modal::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../img/pokemonLogo.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  z-index: -1;
}

.modal .tit-modal {
  margin: 80px 0;
  font-size: 40px;
  font-weight: bold;
  color: rgb(65, 65, 252);
  text-shadow: -3px 0px white, 0px 3px black, 4px 0px black, 0px -3px white;
}

.modal p {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.modal .btn-style {
  padding: 10px 15px;
  margin: 60px 5px 60px;
}

/*****************************************************************/

body.inGame {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgb(252, 250, 104), rgb(71, 158, 61));
  background-image: url("../img/cardBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: none;
}
.root.inGame {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  normal */

.list-card.normal {
  grid-template-columns: repeat(9, 9%);
  grid-template-rows: repeat(4, 1fr);
}

/*  hard */
.list-card.hard {
  grid-template-columns: repeat(16, 5%);
  grid-template-rows: repeat(4, 1fr);
}

@media screen and (max-width: 1024px) {
  .list-card {
    max-width: 803px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  /*  normal */

  .list-card.normal {
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: repeat(6, 1fr);
  }

  /*  hard */
  .list-card.hard {
    max-width: 954px;
    grid-template-columns: repeat(8, 10%);
    grid-template-rows: repeat(8, 150px);
    padding: 5px 5px;
  }
}
